@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand:wght@300..700&display=swap');
     
body {
    margin: 0 10%;
    font-family: "Quicksand", sans-serif;        
}

.container {
    width: 960px;
    max-width: 0 auto;
}

header {
    text-align: left;
    background-color: rgb(228, 63, 118);
    color: #fff;
    padding: 2rem;
}

h1 {
    color: rgb(126, 23, 57);
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    color: rgb(126, 23, 57);
}

h3 {
    font-size: 36px;
    color: rgb(228, 63, 118);
}

.circle {
    border-radius: 50%;
    border: 5px rgb(228, 63, 118);
}

aside img {
    width: 180px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 999px;
    border: 2px solid rgb(228, 63, 118)
}

#nav-menu li a {
    color: blue;
}

.menu-items li a {
            color: red; 
            font-weight: bold;
            text-decoration: none;
}
        
    p {
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 20px;
        border: 5px;
    }
       