@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Quicksand:wght@300..700&display=swap');
 
* {
    box-sizing: border-box;
    font-family: sans-serif;
}


/***** Basic Layout Design *****/
body {
    margin: 0;
    font-family: "Quicksand", sans-serif;    
    background-image: url(../images/bg.png);    
}

header {
    text-align: left;
    background-color: rgb(228, 63, 118);
    color: #fff;
    padding: 30px 40px;
}

h1 {
    color: rgb(126, 23, 57);
    text-transform: uppercase;
    font-size: clamp(32px, 4vw, 48px);
}

h2 {
    font-size: 36px;
    color: rgb(126, 23, 57);
}

h3 {
    font-size: 24px;
    color: rgb(228, 63, 118);
}

aside {
    text-align: center;
}

img {
    width: 100%;
  }
  
img.circle {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 999px;
    border: 6px solid rgb(228, 63, 118);
  }

/***** Mobile Layout *****/
.container{
    background-color: white; 
    display: grid;
    grid-gap: 1.5em;
    grid-template-columns: repeat(12, 1fr);
    margin: 0 auto;
    width: min(95%, 75em);
    padding: 0 20px;
}

.container > * {
    grid-column: span 12;
}


/***** Desktop Layout *****/
@media screen and (min-width: 40em) {
    .col-span-8 {
      grid-column: span 8;
    }
    .col-span-4 {
      grid-column: span 4;
    }
}


/***** Link styles *****/
a:link, a:visited {
    color: rgb(228, 63, 118);
    text-decoration: none;
}

a:hover {
    color: rgb(242, 111, 155);
    text-decoration: underline;
}


/****** Button Styles ******/
a.button {
    color: white;
    background-color: rgb(228, 63, 118);
    text-align: center;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 4px;
    box-shadow: 0 .125rem .5rem rgba(0, 0, 0, .15);
    display: inline-block;
    margin: 0 .25rem .25rem 0;
    transition: background-color 0.2s ease;
    min-width: 200px;
    font-weight: 600;
}

a.button:hover {
    background-color: rgb(242, 111, 155);
}

a.button:active {
    background-color: rgb(225, 41, 102);
}


/****** Navigation ******/
nav {
    background-color: rgb(228, 63, 118);
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
}

nav li {
    margin: 0 4rem;
}

nav a.link, nav a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.125rem;
    padding: 1rem;
    display: block;
    transition: ease-in-out 250ms;
}

nav a:hover {
    background-color: rgb(244, 147, 179);
    color: white;
    text-decoration: none;
}

       